%h2= @list.name
=link_to 'Delete list', list_path(@list), :confirm => 'Are you sure?', :method => 'delete'

%h3
  %a{:href => "#", :class => 'toggle-user-edit'}= image_tag 'right_arrow.png', :class => 'left'
  Users
.user_edit.hidden.contentRow
  %ul.tokenized
    %li.add_token
      %input.add-to-list.autocomplete-user{:type=>'text',:placeholder=>'add user'}
    - @list.users.each do |usr|
      %li
        = usr.display_name
        = link_to 'X', delete_user_list_path(:id => @list.id, :user_id => usr.id), :class => 'remove_user_from_list'


%div
  = tabbed_item_types('type')

= render :partial => 'feeds/endless_scroll'

:javascript
  var list_id = #{@list.id};
  $('.remove_user_from_list').live('click',function(){
    var $this_li = $(this).parent('li');
    var url = $(this).attr("href");
    var user_id = url.split('=')[url.split('=').length-1];
    var $users_items = $(".feed input[type='hidden'][name='item_user_id'][value='"+user_id+"']").parent('li');
    $.ajax({
      type: 'POST',
      url: url,
      success: function(data){
        $this_li.remove();
        $users_items.remove();
      }
    });
    return false;
  });
  $(".add-to-list").live("autocompleteselect",function(){
    add_to_list($(this));
  });
  $(".ui-menu-item").live('click',function(){
    add_to_list($(".add-to-list"));
  });
  function add_to_list($self) {
    user_display_name = $self.val();
    var url = base_list_url.replace('/0','/'+list_id) + '/add_user';
    $.ajax({
      type: 'POST',
      url: url,
      data: { user_display_name: user_display_name },
      success: function(data){
        $("span.notice").text(data.notice);
        if(data.success){
          var $new_li = $("<li>").text(user_display_name +' ');
          var remove_url = base_list_url.replace('/0','/'+list_id) + '/delete_user?user_id=' +data.user_id;
          var $remove_link = $("<a>").text('X').addClass('remove_user_from_list').attr('href',remove_url);
          $new_li.append($remove_link);
          $self.closest('li').after($new_li);
          $self.val('');
        }
      },
      error: function(xhr,status,data){
      }
    });
  }