.filter-box
  .breakcrumbs
    = link_to 'ithaca, ny', '/'
    >
    = link_to @title
  .filter-tier
  - if @type.nil? or @type == 'All'
    .filter-tier
      filter by category:
      = type_filter_links
  .filter-tier
    filter by tags:
    = tag_cloud_for @feed_items, @type_link
- if @feed_items.empty?
  %span.no-results No items found.
- else
  .feed.endless_scrolling
    = render @feed_items.decorated
    = render 'feeds/pageless', total_pages: @feed_items.total_pages, path_to_page: url_for(params.merge({:format => :js }))

- content_for :head do
  %meta{:property => "og:title", :content => "#{@type} on Ithaca Swidjit"}
  %meta{:property => "og:site_name", :content => "Ithaca Swidjit"}
  %meta{:property => "fb:admins", :content => Facebook::APP_ID}
  %meta{:name => "description", :content => "#{@type} on Ithaca Swidjit" }
