.filter-box
  .breakcrumbs
    = link_to 'ithaca, ny', '/'
    - unless @valid_type.nil?
      >
      = link_to @valid_type, main_feeds_path(type: params[:type])
    - unless @tags.nil? or @tags.empty?
      - @tags.each_index do |i|
        >
        = link_to "##{@tags[i]}", main_feeds_path(type: params[:type], tags: @tags[0..i].join(','))
  .filter-tier
  - if @valid_type.nil? or params[:type] == 'all'
    .filter-tier
      filter by category:
      = type_filter_links
  .filter-tier
    filter by tags:
    = tag_cloud @feed_items, lambda { |tags| main_feeds_path(type: params[:type], tags: tags) }, @tags
- if @feed_items.empty?
  %span.no-results No items found.
- else
  .feed.endless_scrolling
    = render @feed_items.decorated
    = render 'feeds/pageless', total_pages: @feed_items.total_pages, path_to_page: url_for(params.merge({:format => :js }))

- content_for :head do
  %meta{:property => "og:title", :content => "#{@type} on Ithaca Swidjit"}
  %meta{:property => "og:site_name", :content => "Ithaca Swidjit"}
  %meta{:property => "fb:admins", :content => Facebook::APP_ID}
  %meta{:name => "description", :content => "#{@type} on Ithaca Swidjit" }
