:javascript
  function updateSuggestion(e) {
    var oldSuggestion = $('#user_first_name').val()+$('#user_last_name').val();
    var dispName = $('#user_display_name').val();
    if (dispName == '' || dispName == oldSuggestion) {
      window.setTimeout(function() {
        var newSuggestion = $('#user_first_name').val()+$('#user_last_name').val();
        $('#user_display_name').val(newSuggestion);
      }, 1);
    }
  }
  $(document).ready(function() {
    $('#user_first_name').keydown(updateSuggestion);
    $('#user_last_name').keydown(updateSuggestion);

    $('#is_business_signup').change(function() {
      $('#business_name').toggle();
    });
  });

= form_for(@user, :url => registration_path(User)) do |f|

  .form-title Sign Up
  %p To take full advantage of Swidjit, you will need to register for the site.

  = error_messages_for(@user)

  .form-row.clearfix
    .form-left
      = f.label :first_name
      = f.text_field :first_name
    .form-right
      = f.label :last_name
      = f.text_field :last_name

  .form-row.clearfix
    .form-left
      .checkbox
        = f.check_box :is_business, {:id => 'is_business_signup'}
        = f.label :is_business, 'This account is for a business or organization'
    #business_name.form-right.hidden
      = f.label :business_name, 'Business or Organization Name'
      = f.text_field :business_name
  .form-row.clearfix
    .form-left
      = f.label :display_name
      = f.text_field :display_name
    .form-right
      = f.label :email
      = f.email_field :email
  .form-row.clearfix
    .form-left
      = f.label :password
      = f.password_field :password
    .form-right
      = f.label :password_confirmation
      = f.password_field :password_confirmation
  .form-row.clearfix
    .form-left.small-input
      = f.label :zipcode
      = f.text_field :zipcode
    .form-right
      .checkbox
        = f.check_box :is_thirteen
        = f.label :is_thirteen, 'I am at least 13 years of age'

  .form-row
    = f.submit 'Sign Up'
