.comment_block
  %p
    %img{:alt => "user image"}/
    %span= link_to comment.user.display_name, profile_path(comment.user.display_name)
    says
    %a.reply{:href => "#"} reply
  %p= comment.text
  .comment-reply.hidden
    = form_for comment.item.comments.build do |f|
      = f.hidden_field :parent_id, :value => comment.id
      = f.text_area :text, :class => 'user-suggestion'
      = f.submit 'Reply'
  - if comment.children.any?
    .nested_comments
      = render :partial => 'comments/comment', :collection => CommentDecorator.decorate(comment.children.order(:created_at))