%li
  = link_to comment.user.display_name, comment.user
  says
  .comment_text
    = comment.text
  .comment-reply
    %ul
      = semantic_form_for comment.item.comments.build do |f|
        = f.input :parent_id, :as => :hidden, :input_html => { :value => comment.id }
        = f.input :text, :label => ' ', :input_html => { :class => 'user-suggestion' }
        = f.submit 'Reply'
  - if comment.children.any?
    %ul
      = render :partial => 'comments/comment', :collection => CommentDecorator.decorate(comment.children.order(:created_at))