.contentRow
  .title_heading
    = image_tag('notification.png')
    your notifications
- @notifications.each do |note|
  .contentRow.no_border
    .notification.left= note.user_friendly_type
    %div{:style => "font-size:15px"}
      = note.linked_sender
      = note.middle_text
      = note.notifier_link
