%h3 Edit Profile

= form_for @user do |f|
  %div
    = f.label :display_name
    %br
    - if @user.user_set_display_name
      = @user.display_name
    - else
      = f.text_field :display_name
  %div
    = f.submit "Update Profile"