.contentRow
  %h1.title_heading edit your profile

%h3
  %a{:href => "#", :class => 'toggle-user-edit'}= image_tag 'right_arrow.png', :class => 'left'
  Delegates
.user_edit.hidden.contentRow
  %ul.tokenized.delegates
    %li.add_token
      %input.add-to-delegates.autocomplete-user{:type=>'text',:placeholder=>'add delegate'}
    = render :partial => 'delegates/delegate', :collection => DelegateDecorator.decorate(@user.delegates_as_delegator)

= form_for @user do |f|
  %div.contentRow.account-basics
    .title_heading account basics
    .left.text-right
      account name
      %br
      profile URL
      %br
      name
    .left
      - if @user.user_set_display_name
        = @user.display_name
      - else
        = f.text_field :display_name
      %br
      = profile_url(@user.display_name)
      %br
      = "#{@user.first_name} #{@user.last_name}"
  %div.contentRow.profile-info
    .title_heading.left profile info
    %span anything you add here is visible publicly on your profile page
    %ul.profile-fields
      %li= f.label :about, 'about me'
      %li= f.text_area :about
      %li= f.label :websites, 'websites'
      %li= f.text_field :websites
      %li= f.label :address, 'address'
      %li= f.text_field :address
      %li= f.label :phone, 'phone'
      %li= f.text_field :phone
      %li
        %label hours of operation
      %li
        %table
          %tr
            %td &nbsp;
            %td.center open
            %td &nbsp;
            %td.center close
          - Date::DAYNAMES.each do |day|
            %tr
              = fields_for "open_hours[#{day}]",@user.open_hours.find_or_initialize_by_day_of_week(day) do |oh|
                %td.text-right
                  = day
                  = oh.hidden_field :day_of_week
                %td= oh.text_field :open_time
                %td to
                %td= oh.text_field :close_time
  %div.pad
    = f.submit "Update Profile"

:javascript
  var user_id = #{@user.id};
  $('.remove_user_from_delegates').live('click',function(){
    var $this_li = $(this).closest('li');
    var url = $(this).attr("href");
    $.ajax({
      type: 'POST',
      url: url,
      data: { _method: 'delete', format: 'json' },
      success: function(data){
        $("span.notice").text(data.notice);
        if(data.success){
          $this_li.remove();
        }
      }
    });
    return false;
  });
  $(".add-to-delegates").live("autocompleteselect",function(){
    add_to_delegates($(this));
  });
  $(".ui-menu-item").live('click',function(){
    add_to_delegates($(".add-to-delegates"));
  });
  function add_to_delegates($self){
    user_display_name = $self.val();
    var url = '#{delegates_path}';
    $.ajax({
      type: 'POST',
      url: url,
      data: { user_display_name: user_display_name, format: 'json' },
      success: function(data){
        $("span.notice").text(data.notice);
        if(data.success){
          $new_li = $(data.token_html);
          $self.closest('li').after($new_li);
          $self.val('');
        }
      },
      error: function(xhr,status,data){
      }
    });
  }