.nameRow
  .usrName= "@#{@user.display_name}"
  = @user.vouches_display
  %ul.menu_with_dropdowns
    = @user.manage_links(:li)
    = @user.add_to_list
.contentRow
  .profilePic{:style => "background-image: url('img/profilepic.jpg');"}
    = image_tag 'picBorder.png'
  .profileBio
    #btxt
      %ul
        - %w( about websites address phone ).each do |field|
          - if @user.send(field).present?
            %li
              = "#{field}:"
              = @user.send(field)
        - if @user.open_hours.any?
          %li
            hours:
            %ul
              - @user.open_hours.each do |oh|
                %li
                  = oh.day_of_week
                  = oh.open_time
                  to
                  = oh.close_time
  .more
    %a#moreLink{:href => ""}
      View Full Bio
      %img{:alt => "", :border => "0", :src => "img/arrowDN.png"}/
.contentRow
  .recent Recent Posts
  %div
    = tabbed_item_types('type')
  .addTo.filter
    Filters
    = image_tag('arrowDN.png')

.contentRow
  = render :partial => 'feeds/endless_scroll'
