.info-block.clearfix
  .info-left
    = @user.profile_pic
  .info-right
    %h1= "#{@user.display_name} (#{@user.full_name})"
    %span.join-date= "member since #{@user.confirmed_at.strftime('%m/%d/%Y')}"
    %p= @user.about
.filter-box
  .breakcrumbs
    = link_to 'ithaca, ny', '/'
    >
    = link_to "@#{@user.display_name}"
  .filter-tier
  .filter-tier
    filter by category:
    = type_filter_links
  .filter-tier
    filter by tags:
    = tag_cloud_for @feed_items, @type_link
- if @feed_items.empty?
  %span.no-results No items found.
- else
  .feed.endless_scrolling
    = render @feed_items.decorated
    = render 'feeds/pageless', total_pages: @feed_items.total_pages, path_to_page: url_for(params.merge({:format => :js }))
