.item_form
  = semantic_form_for @item do |f|
    = render :partial => 'items/top_of_form', :locals => { :f => f }
    = f.inputs :class => 'extra_inform_box' do
      %li.text
        = image_tag('blue_tag.png')
        information
      = f.input :location, :input_html => {:placeholder => 'Event Location'}
      = f.input :start_date, :input_html => {:placeholder => 'Start Date', :value => @item.start_datetime('date'), :class => 'datepicker event_start_date'}
      = f.input :start_time, :input_html => {:placeholder => 'Start Time', :value => @item.start_datetime('time'), :class => 'timepicker'}
      %li.text
        = check_box_tag 'has-end-time', 1, f.object.end_datetime.present?
        %label{for: 'has-end-time'} The event has an end time.
      = f.input :end_date, :input_html => {:placeholder => 'End Date', :value => @item.end_datetime('date'), :class => 'datepicker event_end_date'}
      = f.input :end_time, :input_html => {:placeholder => 'End Time', :value => @item.end_datetime('time'), :class => 'timepicker'}
    =f.inputs :class => 'extra_inform_box' do
      %li.text
        = image_tag('blue_tag.png')
        event recurrence
      - if f.object.imported and f.object.is_recurring?
        %li.text= f.object.next_occurrence
      - else
        / Rules
        - f.object.rules.each_with_index do |rule, i|
          = render 'rule', rule: rule, index: i
        %li
          = link_to 'Add recurrence rule.', '#', class: 'add-recurrence-rule'
          = javascript_tag "$(document).ready(function(){swidjit.recurrenceRuleTemplate = \"#{escape_javascript(render('rule', rule: f.object.empty_rule, index: 'new_rule')).html_safe}\";});"
    = f.inputs :class => 'extra_inform_box' do
      %li.text
        = image_tag('blue_tag.png')
        additional times
        %br
        - f.object.times.each do |time|
          .additional-time
            = text_field_tag 'event[times][][start_date]', time.start_date, placeholder: 'Start Date', class: 'datepicker time_start_date'
            = text_field_tag 'event[times][][start_time]', time.start_time, placeholder: 'Start Time', class: 'timepicker'
            = link_to "Remove", "#", class: 'remove-time'
        #new-event-time-form
          .additional-time
            = text_field_tag 'event[times][][start_date]', nil, placeholder: 'Start Date', class: 'datepicker time_start_date'
            = text_field_tag 'event[times][][start_time]', nil, placeholder: 'Start Time', class: 'timepicker'
            = link_to "Remove", "#", class: 'remove-time'
        %a#add-another-time{:href => '#'} add another time
        %br
        = javascript_tag "$(document).ready(function(){swidjit.activateEvent()});"
        

    = f.inputs :class => 'extra_inform_box' do
      %li.text
        = image_tag('blue_tag.png')
        Extra Information
        %span optional
      = f.input :cost, :input_html => {:placeholder => 'Cost'}
    = render :partial => 'items/bottom_of_form', :locals => { :f => f, :item => @item }