= semantic_form_for @event do |f|
  = render :partial => 'items/top_of_form', :locals => { :f => f }
  = f.inputs do
    = f.input :cost
    = f.input :location
    = f.input :start_time, :as => :date_picker, :input_html => {:value => @event.start_time}
    = f.input :end_time, :as => :date_picker, :input_html => {:value => @event.end_time}
  = @event.bottom_of_form(f)