= semantic_form_for @item do |f|
  = render :partial => 'items/top_of_form', :locals => { :f => f }
  = f.inputs do
    = f.input :cost
    = f.input :location
    = f.input :start_date, :input_html => {:value => @item.start_datetime('date'), :class => 'datepicker'}
    = f.input :start_time, :input_html => {:value => @item.start_datetime('time'), :class => 'timepicker'}
    = f.input :end_date, :input_html => {:value => @item.end_datetime('date'), :class => 'datepicker'}
    = f.input :end_time, :input_html => {:value => @item.end_datetime('time'), :class => 'timepicker'}
  = @item.bottom_of_form(f)