%ul
  = render :partial => 'items/show', :locals => { :item => @item }
  %li
    Cost:
    = @item.cost
  %li
    Location
    = @item.location
  %li
    Starts At:
    = @item.start_time
  %li
    Ends At:
    = @item.end_time