= render :partial => 'items/show', :locals => { :item => @item }
.contentRow
  %ul
    %li
      Cost:
      = @item.cost
    %li
      Location
      = @item.location
    %li
      Starts At:
      = @item.start_datetime
    %li
      Ends At:
      = @item.end_datetime