.title_heading
  = image_tag('notification.png')
  Ithaca, NY
%div{:style => "margin-top: 10px; width: 200px; float:left;"}
  = image_tag('community-network.jpg', {:width => 200,:height => 110})
%div{:style => "float:left; width: 70%; margin-left: 15px; margin-top: 15px;"} 
  Welcome to Swidjit.  You are the very early adopters of an exciting social innovation designed to reshape the social and economic landscape of our society. Swidjit aims to provide unprecedented access to the goods, services, information, organizations and activities available within communities.  It is a platform for the local economy and a hub for community information. 
  %div{:style => "clear:both"}
  %ul.home_menu
    %li= link_to "About", pages_path(:page_name => :about)
    %li= link_to "FAQ", pages_path(:page_name => :faq)
    %li= link_to "Our Blog", 'http://blog.swidjit.com/'
    %li= link_to "Contact Us", contact_path
  %div{:style => "clear:both"}
