.item_form
  = semantic_form_for @item do |f|
    = f.inputs :class => 'extra_inform_box' do
      %li.text
        = image_tag('blue_tag.png')
        link URL
      = f.input :link, :input_html => {:placeholder => 'web address beginning with http://'}
    = render :partial => 'items/top_of_form', :locals => { :f => f }
    = render :partial => 'items/bottom_of_form', :locals => { :f => f }