%h1= title
.clearAll
- if events.present?
  - events = EventDecorator.decorate(events)
  - if params[:day].present?
    %h2= "Events For #{@from.to_s(:short)}"
    - events.each do |item|
      = render 'item', item: item
  - else
    = render 'by_day', events: events
- else
  %div.title_heading 
    %br
      No events to show.