.sign_in

  %h2 Sign in

  = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)

  = form_for(@user, :url => session_path(User), :html => {:id => 'login_form'}) do |f|

    = error_messages_for(@user)

    %div
      = f.label :email
      %br
      = f.email_field :email

    %div
      = f.label :password
      %br
      = f.password_field :password

    %div= f.submit "Sign in"

  = link_to "Forgot your password?", new_password_path(User)

.register
  = render :file => 'devise/registrations/new'