= f.inputs :class => 'tag_box' do
  %li.text
    = image_tag('blue_tag.png')
    tag your item
    %span optional
  = f.input :tag_list, :label => 'Tags', :input_html => {:class => 'item_tags', "data-pre" => @item.tags.collect{|tag| {:id => tag.name, :name => tag.name}}.to_json}
  - if @item_preset_tags.any?
    %li.tag_list
      .title_box2
        %label Click any of these to add them
      %ul.preset_tags
        - @item_preset_tags.each do |tag|
          %li.preset_tag= tag.tag
  = f.semantic_errors :tags

- if current_user.delegators.present? && !@item.persisted?
  = f.inputs :class => 'posting_box' do
    %li
      %span Posting as:
    = f.input :user_id, :as => :select, :collection => current_user.delegators, :label => "Posting as:", :include_blank => current_user.display_name, :input_html => { :class => 'item_delegator', :onchange => 'swidjit.updateVisibilityForm(this)' }
= f.inputs :class => 'visible_box' do
  = f.input :community_ids, :as => :hidden, :input_html => {:value => @item.community_ids.join(',')}
  = f.input :list_ids, :as => :hidden, :input_html => {:value => @item.list_ids.join(',')}
  %li
    = render :partial => 'items/visibility_form', :locals => { :ajax => false, :item => @item }
= f.inputs do
  = f.input :active
  = @item.expires_on_fields(f)
= f.submit (@item.persisted? ? 'Update' : 'Post')
