= f.inputs do
  = @item.expires_on_fields(f)
  = f.inputs do
    = f.input :community_ids, :as => :hidden, :input_html => {:value => @item.community_ids.join(',')}
    = f.input :list_ids, :as => :hidden, :input_html => {:value => @item.list_ids.join(',')}
    %li
      = @item.add_visibility_rule_dropdown
      = @item.tokenized_visibility_rules
  = f.input :active
= f.submit (@item.persisted? ? 'Update' : 'Post')

:javascript
  $('.visibility_rule_remove').live('click',function(){
    var ruleType = $(this).attr('data-rule-type');
    var visibilityID = $(this).attr('data-visibility-id');
    var $idInput = $(this).closest('li').siblings('li[id*="'+ruleType+'"]').children('input');
    var $thisRule = $(this).closest('div');
    var arIds = $.unique($idInput.val().split(','));
    var i =0, arLen = arIds.length;
    while(i < arLen){
      if(arIds[i] == visibilityID){
        arIds.splice(i,1);
        break;
      }
      i++;
    }
    $idInput.val(arIds.join(','));
    $thisRule.remove();
    return false;
  });

  $(document).ready(function(){
    $("#add_visibility_rule").val('');
    $("#add_visibility_rule").change(function(){
      var ruleType = $(this).val().split('-')[0];
      var visibilityID = $(this).val().split('-')[1];
      var existingRule = $('.visibility_rule_remove[data-visibility-id="'+visibilityID+'"][data-rule-type="'+ruleType+'"]').length;
      if( existingRule == 0 ){
        var $idInput = $(this).closest('li').siblings('li[id*="'+ruleType+'"]').children('input');
        var arIds = $idInput.val().length > 0 ? $idInput.val().split(',') : new Array();
        arIds.push(visibilityID);
        var ruleName = $(this).find('option:selected').text();
        $newRule = $("<div>"+ruleName+" <a href='#' class='visibility_rule_remove'"+
          " data-visibility-id='"+visibilityID+"' data-rule-type='"+ruleType+"'>x</a></div>");
        $idInput.val($.unique(arIds).join(','));
        $(this).after($newRule);
      }
      $(this).val('');
    });
  });