= f.inputs do
  = @item.expires_on_fields(f)
  = f.inputs do
    = f.input :community_ids, :as => :hidden, :input_html => {:value => @item.community_ids.join(',')}
    = f.input :list_ids, :as => :hidden, :input_html => {:value => @item.list_ids.join(',')}
    = @item.add_visibility_rule_dropdown
    = @item.tokenized_visibility_rules
  = f.input :active
= f.submit (@item.persisted? ? 'Update' : 'Post')