:javascript
  $(document).ready(function(){
    $(".addTo2").toggle(
      function () {
        $("#visiEXP").animate(
          {height:$(".visiRow").height()},
          {queue:false, duration: 300},
          $("#visiEXP").css('overflow','visible')
        );
      }, function () {
        $("#visiEXP").css('overflow','hidden').animate(
          {height: "0px"},
          {queue:false, duration: 300});
      }
    );
  });
.contentRow
  .inner_title_top
    .title_heading= item.title
    .itemIcons
      = item.manage_links
      - if can? :mamange, item
        %span#addTo2.addTo2
          %ul
            %li
              %a{:href => "#"}
                = image_tag('visible_icon.jpg')
                item visibility
                = image_tag('arrowDN.png')
- if can? :manage, item
  #visiEXP
    .visiRow.pad
      = item.visibility_form
      .xtraLine
.contentRow.pad.without_border
  .img_left
    = image_tag('ipad.jpg')
  .img_info
    %p= item.description
    %p= item.iconic_information
  %div{:style => "clear:both;"}
- if item.allows_offers?
  .contentRow
    %p.header
      %label Offers
  .contentRow.pad.without_border
    .offer_top
      = render :partial => 'offers', :locals => { :item => item }
    %div{:style => "clear:both;"}

.contentRow
  %p.header
    %label Comments
.contentRow.pad.without_border
  - if @comments.any?
    = render :partial => 'comments/comment', :collection => CommentDecorator.decorate(@comments.order(:created_at))
  .comment_block
    Comment
    %a#comment{:name => 'comment'}
    %ul
      = form_for item.comments.build do |f|
        = f.text_area :text, :class => 'user-suggestion'
        = f.submit 'Comment'

- if item.recommendations.any?
  .contentRow.pad
    Recommendations:
    %ul
      = render :partial => 'recommendations/for_item', :collection => RecommendationDecorator.decorate(item.recommendations)

- content_for :head do
  %meta{:property => "og:title", :content => "Swidjit - #{item.title}"}
  %meta{:property => "og:url", :content => item.distinct_url}
  %meta{:property => "og:site_name", :content => "Swidjit"}
  %meta{:property => "fb:admins", :content => Facebook::APP_ID}
