= item.manage_links
%li
  Poster:
  = link_to item.user_display_name, profile_path(item.user.display_name)
%li
  Title:
  = item.title
= item.visibility_form
%li
  Description:
  = item.description
= item.tagged_as
- if item.recommendations.any?
  %li
    Recommendations:
    %ul
      = render :partial => 'recommendations/for_item', :collection => RecommendationDecorator.decorate(item.recommendations)

- if @comments.any?
  %li
    %ul.comments
      = render :partial => 'comments/comment', :collection => CommentDecorator.decorate(@comments.order(:created_at))

%li
  Comment
  %ul
    = semantic_form_for item.comments.build do |f|
      = f.input :text, :label => ''
      = f.submit 'Comment'

- content_for :head do
  %meta{:property => "og:title", :content => "Swidjit - #{item.title}"}
  %meta{:property => "og:url", :content => item.distinct_url}
  %meta{:property => "og:site_name", :content => "Swidjit"}
  %meta{:property => "fb:admins", :content => Facebook::APP_ID}
