= item.manage_links
%li
  Poster:
  = link_to item.user_display_name, profile_path(item.user.url)
%li
  Title:
  = item.title
%li
  Description:
  = item.description
= item.tagged_as

- content_for :head do
  %meta{:property => "og:title", :content => "Swidjit - #{item.title}"}
  %meta{:property => "og:url", :content => item.distinct_url}
  %meta{:property => "og:site_name", :content => "Swidjit"}
  %meta{:property => "fb:admins", :content => Facebook::APP_ID}
