= form_tag({:controller => "suggested_items", :action => "create"}, :method => "post") do 
  Know someone who might want to know about this item?  Add an email or Swidjit username and we will mkae sure they hear about it.
  .clear
  = text_field_tag(:user_list, nil, :class => 'autocomplete-user')
  = hidden_field_tag 'item_id', item.id
  = submit_tag("Suggest")

= javascript_tag "swidjit.initItemSuggestion(#{item.id}, '#{suggested_item_path}');"
