= f.semantic_errors
= f.inputs do
  = f.input :public
  = f.input :title
  = f.input :description, :as => :text
  = f.input :tag_list, :label => 'Tags (comma separated)'
  = f.semantic_errors :tags
  = f.input :community_ids, :as => :hidden, :input_html => {:value => @item.community_ids.join(',')}