%div.item_visibility
  %p.vis_label Visibility
  = item.tokenized_visibility_rules
  %ul.menu_with_dropdowns{:style => "margin-top:15px;"}
    %li
      %a{:href => "", :onclick => 'return false;'}
        Add Viewers
        = image_tag('arrowDN.png')
      #add_visibility_rule.dropdown_1column.align_right1
        - item.add_visibility_rule_options.each do |group,rules|
          .col_1
            = group.titleize
          - rules.each do |rule|
            .col_1
              %a{:href => "#", 'data-rule-type' => rule[:type], 'data-visibility-id' => rule[:vis_id] }= rule[:name]

- if !ajax
  :javascript
    $('.visibility_rule_remove').live('click',function(){
      var ruleType = $(this).attr('data-rule-type');
      var visibilityID = $(this).attr('data-visibility-id');
      var $idInput = $(this).closest('li').siblings('li[id*="'+ruleType+'"]').children('input');
      var $thisRule = $(this).closest('div');
      var arIds = $.unique($idInput.val().split(','));
      var i =0, arLen = arIds.length;
      while(i < arLen){
        if(arIds[i] == visibilityID){
          arIds.splice(i,1);
          break;
        }
        i++;
      }
      $idInput.val(arIds.join(','));
      $thisRule.remove();
      return false;
    });

    $("#add_visibility_rule a").live('click',function(){
      var ruleType = $(this).attr('data-rule-type');
      var visibilityID = $(this).attr('data-visibility-id');
      var existingRule = $(this).closest('ul').parent().find('.visibility_rule_remove[data-visibility-id="'+visibilityID+'"][data-rule-type="'+ruleType+'"]').length;
      if( existingRule == 0 ){
        var $idInput = $(this).closest('ul').closest('li').siblings('li[id*="'+ruleType+'"]').children('input');
        console.log($idInput);
        var arIds = $idInput.val().length > 0 ? $idInput.val().split(',') : new Array();
        arIds.push(visibilityID);
        var ruleName = $(this).text();
        $newRule = $("<div class='"+ruleType+"_token'>"+ruleName+" <a href='#' class='visibility_rule_remove'"+
          " data-visibility-id='"+visibilityID+"' data-rule-type='"+ruleType+"'>x</a></div>");
        $idInput.val($.unique(arIds).join(','));
        $(this).closest('ul').before($newRule);
      }
      return false;
    });
- else
  :javascript
    $('.visibility_rule_remove').live('click',function(){
      var ruleType = $(this).attr('data-rule-type');
      var visibilityID = $(this).attr('data-visibility-id');
      var $thisRule = $(this).closest('div');
      $.post("#{item.remove_visibility_rule_path}.json",
        {'_method':'delete','visibility_type':ruleType,'visibility_id':visibilityID},
        function(data){
          if(data['success']){
            $thisRule.remove();
          }
        }, 'json');
      return false;
    });

    $("#add_visibility_rule a").live('click',function(){
      var ruleType = $(this).attr('data-rule-type');
      var visibilityID = $(this).attr('data-visibility-id');
      console.log($(this).closest('ul').siblings());
      var existingRule = $(this).closest('ul').parent().find('.visibility_rule_remove[data-visibility-id="'+visibilityID+'"][data-rule-type="'+ruleType+'"]').length;
      if( existingRule == 0 ){
        $self = $(this);
        var ruleName = $self.text();
        $.post("#{item.add_visibility_rule_path}.json",
          {'visibility_type':ruleType,'visibility_id':visibilityID},
          function(data){
            if(data['success']){
              $newRule = $("<div class='"+ruleType+"_token'>"+ruleName+" <a href='#' class='visibility_rule_remove'"+
                " data-visibility-id='"+visibilityID+"' data-rule-type='"+ruleType+"'>x</a></div>");
              $self.closest('ul').before($newRule);
            }
          }, 'json');
      }
      return false;
    });