:javascript
  $(document).ready(function(){
    $(".addTo2").toggle(
      function () {
        $("#visiEXP").animate(
          {height:$(".visiRow").height()},
          {queue:false, duration: 300},
          $("#visiEXP").css('overflow','visible')
        );
      }, function () {
        $("#visiEXP").css('overflow','hidden').animate(
          {height: "0px"},
          {queue:false, duration: 300});
      }
    );
  });
.contentRow.without_border.overflow-visible
  -if (!@item.expires_on.nil?) && (Date.strptime(@item.expires_on, '%m/%d/%Y') < Date.today)
    .alert.expired-notice
      %strong Notice:
      This item is expired. It expired on 
      = @item.expires_on
  .itemPic.wide
    = @item.class_feed
    %br
    = @item.thumb_with_lightbox
  .itemInfo
    %h1.itemTitle= @item.title
    - if can? :manage, @item
      #visiEXP
        .visiRow
          = @item.visibility_form
          .xtraLine
      .clear-right
    .itemDesc= @item.description
    - if @item.respond_to?(:link_tag)
      Link:
      = @item.link_tag
    .multiLinks= @item.iconic_information(false)
    .itemIcons
      = @item.manage_links
      - if can? :mamange, @item
        %span#addTo2.addTo2
          %a{:href => "#"}
            = image_tag('visible_icon.jpg')
            = image_tag 'arrowDN.png'
  .clear

- if @item.allows_offers?
  .contentRow
    %p.header
      %label Offers
  .contentRow.pad.without_border
    .comment_block
      Offer
      = render 'offers'
    %div{:style => "clear:both;"}

= yield :middle

.contentRow
  %p.header
    %label Comments
.contentRow.pad.without_border
  - if @comments.any?
    = render :partial => 'comments/comment', :collection => CommentDecorator.decorate(@comments.order(:created_at))
  .comment_block
    Comment
    %a#comment{:name => 'comment'}
    = form_for @item.comments.build, {:url => comments_path(@item)} do |f|
      = f.text_area :text, :class => 'user-suggestion'
      = f.submit 'Comment'

.contentRow
  %p.header
    %label Recommendations
.contentRow.pad.without_border
  - if @item.recommendations.any?
    = render :partial => 'recommendations/for_item', :collection => RecommendationDecorator.decorate(@item.recommendations)
  - if can? :recommend, @item
    .comment_block
      Recommend
      %a#recommend{:name => 'recommend'}
      = form_for Recommendation.new, :url => recommendations_path(@item) do |f|
        = f.text_area :description, { :class => 'user-suggestion' }
        = f.submit 'Recommend'

- content_for :head do
  %meta{:property => "og:title", :content => "Swidjit - #{@item.title}"}
  %meta{:property => "og:url", :content => @item.distinct_url}
  %meta{:property => "og:site_name", :content => "Swidjit"}
  %meta{:property => "fb:admins", :content => Facebook::APP_ID}
