- if (!@item.expires_on.nil?) && (Date.strptime(@item.expires_on, '%m/%d/%Y') <= Date.today)
  .alert
    %strong Notice:
    This item expired on
    = @item.expires_on
    and it has not been deactivated or renewed by the author.  You may wish to comment or send a message to the author to check if it is still valid.
.info-block.clearfix
  .info-left
    = @item.thumb_with_lightbox
  .info-right
    %h1= "#{@item.title}"
    %span.owner
      = "posted on #{@item.created_at.strftime('%m/%d/%Y')}"
      - if @item.user.present?
        by
        = link_to @item.user.display_name, profile_path(@item.user.display_name)
      = @item.info_icons
      = @item.tagged_as
.links-bar
  = @item.links_bar
%p= @item.description

%h2 Comments
.comments-box
  Comment publicly to all users who can view this item.
  - if @comments.any?
    = render :partial => 'comments/comment', :collection => CommentDecorator.decorate(@comments.order(:created_at))
  .comment-block
    = form_for @item.comments.build, {:url => comments_path(@item)} do |f|
      .formrow.form-header
        Add a comment
      .formrow
        = f.text_area :text, :class => 'user-suggestion'
      .formrow
        = f.submit 'Comment'

-content_for :right_links do
  .page-links
    = @item.manage_links

- content_for :head do
  %meta{:property => "og:title", :content => "Swidjit - #{@item.title}"}
  %meta{:property => "og:url", :content => @item.distinct_url}
  %meta{:property => "og:site_name", :content => "Swidjit"}
  %meta{:property => "fb:admins", :content => Facebook::APP_ID}
  %meta{:name => "description", :content => @item.short_description}
  %meta{:name => "keywords", :content => @item.tag_list}
