%p We would love to hear your thoughts about how we can make this site better, or how we might be able to work with you to build a stronger Swidjit community. Under most circumstances you should hear back from us within 48 hours.

= form_for(@message, :url => contact_path) do |f|

  = error_messages_for(@message)

  %div
    = f.label :name
    %br
    = f.text_field :name
  %div
    = f.label :email
    %br
    = f.text_field :email
  %div
    = f.label :subject
    %br
    = f.text_field :subject
  %div
    = f.label :body
    %br
    = f.text_area :body

  %div= f.submit "Send"
