.title_heading Users

%table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Display Name
      %th Email
      %th Zip Code
      %th Actions
  %tbody
    - @users.each do |usr|
      %tr
        %td= usr.first_name
        %td= usr.last_name
        %td= link_to(usr.display_name, profile_path(usr.display_name))
        %td= usr.email
        %td= usr.zipcode
        %td= link_to('Delete', admin_user_path(usr), :confirm => 'Are you certain?', :method => :delete)