:javascript
  $(function() {
    $('#invitees').keyup(function(e) {
      while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css('borderTopWidth'))+parseFloat($(this).css('borderBottomWidth'))) {
        $(this).height($(this).height()+1);
      }
    })
  });

.info-block.clearfix
  .info-left
    = @community.image_tag
  .info-right
    %h1= @community.name
    %span.owner
      admin by
      = link_to @community.user.display_name, profile_path(@community.user.display_name)
    %p= @community.description
- if can? :read_items, @community
  .filter-box
    .breadcrumbs
      = link_to 'ithaca, ny', '/'
      >
      = link_to @community.name, community_path(@community)
    .filter-tier
    .filter-tier
      filter by category:
      = type_filter_links
    .filter-tier
      filter by tags:
      = tag_filter_links

- else
  %a.join-button join this community

