%ul
  = @community.manage_links
  = @community.invitation_form
  %li
    Name:
    = @community.name
  %li
    Creator:
    = link_to @community.user.display_name, profile_path(@community.user.display_name)
  %li
    Description:
    = @community.description

- if can? :read_items, @community
  %div
    = tabbed_item_types('type')

  = render :partial => 'feeds/endless_scroll'