%ul
  = @community.manage_links
  = @community.invitation_form
  %li
    Name:
    = @community.name
  %li
    Creator:
    = link_to @community.user.display_name, profile_path(@community.user.display_name)
  %li
    Description:
    = @community.description

- if can? :read_items, @community
  %div
    = tabbed_item_types('type')

  - if @feed_items.count == 0
    %p No items found.
  - else
    %ul.feed
      = render :partial => 'items/item', :collection => ItemDecorator.decorate(@feed_items)