!!! 5
%html
  %head
    %title= page_title
    %link{:rel => 'shortcut icon', :href => '/favicon.ico' }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    :javascript
      var base_list_url = '#{list_path(0)}';
      var base_custom_feed_element_url = '#{custom_feed_element_path(0)}';
      var fb_app_id = '#{Facebook::APP_ID}';
    = yield :head
    = csrf_meta_tags
  %body
    #top_bar
      #search_bar
        %a#logo{:href => '/'}
        %form#search{method: "get", action: search_feeds_path }
          %input{type: "search", id: "search_input", name: "q", placeholder: "search for products, services, events, etc."}
        - if signed_in?
          #profile_link
            %a{:href => profile_path(current_user.display_name)}
              logged in as
              = current_user.display_name
            |
            = link_to "Log out", destroy_user_session_path, :method => 'delete'
        - else
          #login_link
            =link_to "Log in / Join", new_user_session_path

      #personal_bar
        - if signed_in?
          = link_to "profile", profile_path(current_user.display_name)
          = link_to "events"
          = link_to "messages"
          = link_to "collections"
          = link_to "bookmarks"
          = link_to "lists"
    #content
      #feed_bar
        .feed-box
          .feed-category Categories
          = category_feeds
        .feed-box
          .feed-category System Feeds
          = system_feeds
        - if signed_in?
          .feed-box
            .feed-category Custom Feeds
            = custom_feeds
        .feed-box
          .feed-category Communities
          = community_feeds
        .feed-box
          .feed-category Trending Tags
          = trending_tags
      #page_content
        - if signed_in?
          = form_tag({}, {:class => "posting-form"}) do
            .posting-title add an item
            .field-desc
              %textarea{:name => 'item[description]', :placeholder => 'tell us about what you have to offer, what you need, or something interesting around town...'}
            .field-title
              %textarea{:name => 'item[title]', :placeholder => 'add a title'}
            .field-category
              select a category
              .category-dropdown
                = hidden_field_tag :item_type
                .category-selection
                  .category-title
                  .category-desc
                .dropdown-menu
                  .dropdown-opt{:data => {:type => 'thoughts', :url => thoughts_path}}
                    .category-title thoughts
                    .category-desc comments, questions, announcements and information
                  .dropdown-opt{:data => {:type => 'have-it', :url => have_its_path}}
                    .category-title have-its
                    .category-desc offer goods, services, spaces and experiences
                  .dropdown-opt{:data => {:type => 'want-it', :url => want_its_path}}
                    .category-title want-its
                    .category-desc request access to goods, services, spaces and experiences
                  .dropdown-opt{:data => {:type => 'event', :url => events_path}}
                    .category-title events
                    .category-desc performances, meetings, classes, excursions and more
                  .dropdown-opt{:data => {:type => 'collection', :url => collections_path}}
                    .category-title collections
                    .category-desc containers to help you group together similar items
            .field-tags
              %textarea{:placeholder => 'tag your item'}
            .field-images
              .fileupload.thumbnail
                #thumbnail
                  attach an image
                  =image_tag 'plus_button.png'
                =hidden_field(:item, :thumbnail_id)
                .uploaded-image
                  %a.unload-image{:href => '#'}
            .field-links
              %textarea{:placeholder => 'add a link'}
            .field-location
              %textarea{:placeholder => 'add a location'}
            .icon-row.clearfix
              %a.field-button.item-add-link{:data => {:field => 'field-links'}}
                =image_tag 'link_field.png'
              %a.field-button.item-add-location{:data => {:field => 'field-location'}}
                =image_tag 'location_field.png'
              %a.field-button.item-add-image{:data => {:field => 'field-images'}}
                =image_tag 'image_field.png'
              %a.field-button.item-add-tags{:data => {:field => 'field-tags'}}
                =image_tag 'tag_field.png'
              %a.field-button.item-add-time{:data => {:field => 'field-time'}}
                =image_tag 'time_field.png'
              %a.publish-item publish item
            =javascript_include_tag 'images/dynamic_image_upload'  
        = yield
      #right_bar
        = social_links
        = yield :right_links
        .right-box
          .box-title what is swidjit?
          %ul.link-list
            %li= link_to "our story", pages_path(:page_name => :about)
            %li= link_to "how it works"
            %li= link_to "some FAQ", pages_path(:page_name => :faq)
            %li= link_to "privacy policy", pages_path(:page_name => 'privacy-policy')
            %li= link_to "contact us", contact_path
        -#
          .right-box
            .box-title give us feedback
            =text_area_tag :feedback
               
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24444933-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
