!!! 5
%html>
  %head
    %title Swidjit
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
    = stylesheet_link_tag    'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/ui-lightness/jquery-ui.css'
    = javascript_include_tag 'http://malsup.github.com/jquery.form.js'
    = stylesheet_link_tag    "application", :media => "all"
    :javascript
      var base_list_url = '#{list_path(0)}';
      var fb_app_id = '#{Facebook::APP_ID}';
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags
  %body

    = render :partial => 'layouts/facebook_js'

    %p.notice= notice
    %p.alert= alert
    - if signed_in?
      = link_to "Log out", destroy_user_session_url, :method => 'delete'
      = link_to "profile", profile_path(current_user.display_name)
      = link_to "@#{current_user.display_name}", references_user_path(current_user)
      = link_to "bookmarks", bookmarks_path
      = link_to 'my drafts', drafts_feeds_path
      = current_decorated_user.item_creation_links
      - if can? :manage, ItemPresetTag
        = link_to 'Manage Preset Tags', item_preset_tags_path
    - else
      = link_to 'Sign in/Register', new_user_session_path
    #sideNav
      = link_to 'All Items', all_feeds_path
      = link_to "Have Its", have_its_feeds_path
      = link_to "Want Its", want_its_feeds_path
      = link_to "Thoughts", thoughts_feeds_path
      = link_to "Links", links_feeds_path
      = link_to 'Events', events_feeds_path
      = link_to 'Recommendations', recommendations_feeds_path
      - if signed_in?
        %br
        = link_to 'List of Communities', communities_path
        = link_to 'Create a Community', new_community_path
        - current_user.communities.each do |comm|
          = link_to comm.name, comm
        %br
        Lists
        %br
        - current_user.lists.each do |list|
          = link_to list.name, list
        = form_for List.new do |f|
          = f.submit '+'
          = f.text_field :name, :placeholder => 'list name'
        #new_list_errors
    #content
      = yield
