!!! 5
%html>
  %head
    %title
      = "Swidjit - #{current_city.name}"
      - if defined?(@item) && @item.try(:title).present?
        = " - #{@item.title}"
      - elsif @title.present?
        = " - #{@title}"
    %link{:rel => 'shortcut icon', :href => '/favicon.ico' }
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
    = stylesheet_link_tag    'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/ui-lightness/jquery-ui.css'
    = javascript_include_tag 'http://malsup.github.com/jquery.form.js'
    = stylesheet_link_tag    "application", :media => "all"
    /[if IE 7]
      = stylesheet_link_tag '/assets/jqcss/ie_only.css'
    :javascript
      var base_list_url = '#{list_path(0)}';
      var fb_app_id = '#{Facebook::APP_ID}';
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags
  %body

    = render :partial => 'layouts/facebook_js'

    #container
      #menu
        .logo= link_to(image_tag('logo.jpg'), root_path)
        #menuInnerWrapper
          #multiAccordion
            %h3
              %a.secHdr1{:href => "#"} Categories
            %div
              %ul.navMenus
                %li= link_to "Have Its", main_feeds_path(type: 'have_its')
                %li= link_to "Want Its", main_feeds_path(type: 'want_its')
                %li= link_to "Thoughts", main_feeds_path(type: 'thoughts')
                %li= link_to "Links", main_feeds_path(type: 'links')
                %li= link_to 'Events', main_feeds_path(type: 'events')
                %li= link_to 'Collections', main_feeds_path(type: 'collections')
            %h3
              %a.secHdr1{:href => "#"} System Feeds
            %div
              %ul.navMenus
                %li= link_to 'Recommendations', recommendations_feeds_path
                %li= link_to 'All Items', main_feeds_path
                - if signed_in?
                  %li= link_to 'Familiar Users', familiar_users_feeds_path
                  %li= link_to 'Mentions', references_user_path(current_user)
                  %li= link_to 'Inactive Items', drafts_feeds_path
                  - if current_user.geo_tags.present?
                    %li= link_to 'Nearby', nearby_feeds_path
            %h3
              %a.secHdr6{:href=>'#'} Collections
            %div
              %ul.navMenus
                - if signed_in? && current_user.collections.any?
                  -current_user.collections.each do |col|
                    %li= link_to col.title, col
                - else 
                  %li= "no collections yet"
            %h3
              %a.secHdr2{:href => "#"} Communities
            %div
              %ul.navMenus
                %li= link_to 'List of Communities', communities_path
                - if signed_in?
                  %li= link_to 'Create a Community', new_community_path
                  - current_user.communities.each do |comm|
                    %li= link_to comm.name, comm
            - if signed_in?
              %h3
                %a.secHdr3{:href => "#"} Lists
              %div
                %ul.navMenus
                  - current_user.lists.each do |list|
                    %li= link_to list.name, list
                  %li
                    = form_for List.new do |f|
                      = f.submit '+'
                      = f.text_field :name, :placeholder => 'list name'
                    #new_list_errors
          %ul.extra_links.home_menu
            %li= link_to "FAQ", pages_path(:page_name => :faq)
            %li= link_to "About", pages_path(:page_name => :about)
            %li= link_to "Privacy Policy", pages_path(:page_name => 'privacy-policy')
            %li= link_to "Swidjit Blog", 'http://blog.swidjit.com/'
            %li= link_to "Contact Us", contact_path
            - if signed_in?
              %li= link_to "Log out", destroy_user_session_url, :method => 'delete'
            - else
              %li= link_to 'Sign in/Register', new_user_session_path
              
          #socialmedia_icons
            = link_to image_tag('icons/twitter.png'), 'https://twitter.com/#!/Swidjit'
            = link_to image_tag('icons/facebook.png'), 'http://www.facebook.com/pages/Swidjit/194313903947215'
            = link_to image_tag('icons/googleplus.png', :alt => 'GooglePlus'), 'https://plus.google.com/u/0/b/116234830703382726755/'
            = link_to image_tag('icons/youtube.png'), 'http://www.youtube.com/user/Swidjit'
          - if signed_in?
            - if current_user.is_admin?
              %li= link_to 'Manage Preset Tags', item_preset_tags_path
              %li= link_to 'Manage Flagged Items', flagged_items_path
              %li= link_to 'Manage Users', admin_users_path

      #content
        .column_content_nav
          .current_city
            browsing
            = @current_city.name
          %form#search{method: "get", action: search_feeds_path }
            %input{type: "text", name: "q"}
            %input{type: "submit", value: "search"}
          - if signed_in?
            = link_to "", edit_user_path(current_user), :class => 'topLinks top5', :title => 'Edit Profile'
            = link_to "", user_offers_path(current_user.display_name), :class => 'topLinks icon_offer', :title => 'Offers'
            = link_to "", user_notifications_path(:user_id => current_user.id), :class => 'topLinks top4', :title => 'Notifications'
            = link_to "", bookmarks_path, :class => 'topLinks top3', :title => 'Bookmarks'
            = link_to "", profile_path(current_user.display_name), :class=> 'topLinks top2', :title => 'Profile'
            = link_to "", calendar_path, :class => 'topLinks top1', :title => 'Events Calendar'
          - else    
            = link_to "", calendar_path, :class => 'topLinks top1', :title => 'Events Calendar'
            %div{:style => "margin-top:15px;float:right;color:#ffffff"}
              ithaca event calendar
        - if signed_in?
          .add_item_row
            .addLink
              %a#add_item_button{:href => "#"}
            = current_decorated_user.item_creation_links
            %div{:style => "clear:both;"}
        - else
          .add_item_row.logged_out
            Welcome, guest. Please
            = link_to('login/register',new_user_session_path)
            to add content and participate in social tools
        .mainContentWrap
          #add_item_form_wrapper
            #add_item_form.item_form
          .mainContent
            -if notice.present?
              %span.notice= notice
            -if alert.present?
              %span.alert= alert
            = yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24444933-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
