!!! 5
%html>
  %head
    %title Swidjit
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
    = stylesheet_link_tag    'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/ui-lightness/jquery-ui.css'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    :javascript
      var fb_app_id = #{Facebook::APP_ID};
    = yield :head
    = csrf_meta_tags
  %body

    = render :partial => 'layouts/facebook_js'

    %p.notice= notice
    %p.alert= alert
    - if signed_in?
      = link_to "Log out", destroy_user_session_url, :method => 'delete'
      = link_to "profile", profile_path(current_user.url)
      = link_to 'have-it', new_have_it_path, :id => 'post_have_it'
      = link_to 'want-it', new_want_it_path, :id => 'post_want_it'
      = link_to 'thoughts', new_thought_path, :id => 'post_thought'
      = link_to 'link', new_link_path, :id => 'post_link'
      = link_to 'event', new_event_path, :id => 'post_event'
      = link_to 'my drafts', drafts_feeds_path
    - else
      = link_to 'Sign in/Register', new_user_session_path
    #sideNav
      = link_to "Have Its", have_its_feeds_path
      = link_to "Want Its", want_its_feeds_path
      = link_to "Thoughts", thoughts_feeds_path
      = link_to "Links", links_feeds_path
      = link_to 'Events', events_feeds_path
    #content
      = yield
