!!! 5
%html
  %head
    %title= page_title
    %link{:rel => 'shortcut icon', :href => '/favicon.ico' }
    = stylesheet_link_tag    "application", :media => "all"
    :javascript
      var base_list_url = '#{list_path(0)}';
      var base_custom_feed_element_url = '#{custom_feed_element_path(0)}';
      var fb_app_id = '#{Facebook::APP_ID}';
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags
  %body
    = render :partial => 'layouts/facebook_js'

    #top_bar
      #search_bar
        %a#logo{:href => '/'}
        %form#search{method: "get", action: search_feeds_path }
          %input{type: "search", id: "search_input", name: "q", placeholder: "search for products, services, events, etc."}
        - if signed_in?
          #profile_link
            %a{:href => profile_path(current_user.display_name)}
              logged in as
              = current_user.display_name
            |
            = link_to "Log out", destroy_user_session_path, :method => 'delete'
        - else
          #login_link
            =link_to "Log in / Join", new_user_session_path

      #personal_bar
        - if signed_in?
          = link_to "profile", profile_path(current_user.display_name)
          = link_to "events", calendar_path
          = link_to "messages", user_offers_path(current_user.display_name)
          = link_to "collections", main_feeds_path(type: 'collections')
          = link_to "bookmarks", bookmarks_path
    #content
      #feed_bar
        .feed-box
          .feed-category Categories
          = category_feeds
        .feed-box
          .feed-category System Feeds
          = system_feeds
        - if signed_in?
          .feed-box
            .feed-category Custom Feeds
            = custom_feeds
        .feed-box
          .feed-category Communities
          = community_feeds
        .feed-box
          .feed-category Trending Tags
          = trending_tags
      #page_content{:class => signed_in? ? '' : 'nologin'}
        = yield
      #right_bar
        #socialmedia_icons
          = link_to image_tag('icons/twitter.png'), 'https://twitter.com/#!/Swidjit'
          = link_to image_tag('icons/facebook.png'), 'http://www.facebook.com/pages/Swidjit/194313903947215'
          = link_to image_tag('icons/googleplus.png', :alt => 'GooglePlus'), 'https://plus.google.com/u/0/b/116234830703382726755/'
          = link_to image_tag('icons/youtube.png'), 'http://www.youtube.com/user/Swidjit'
        = yield :right_links
        .right-box
          .box-title what is swidjit?
          %ul.link-list
            %li= link_to "our story", pages_path(:page_name => :about)
            %li= link_to "some FAQ", pages_path(:page_name => :faq)
            %li= link_to "privacy policy", pages_path(:page_name => 'privacy-policy')
            %li= link_to "contact us", contact_path
        -#
          .right-box
            .box-title give us feedback
            =text_area_tag :feedback
    - if signed_in?
      #floating_form
        = form_tag({}, {:class => "posting-form"}) do
          .posting-title
            - if params[:controller] == 'communities'
              add an item to this community
            - else
              add an item
          .field-desc
            %textarea{:name => 'item[description]', :placeholder => (params[:controller] == 'communities' ? "share something with #{@community.name}" : 'tell us about what you have to offer, what you need, or something interesting around town...')}
          .field-title
            %textarea{:name => 'item[title]', :placeholder => 'add a title'}
          .field-category
            select a category
            .category-dropdown
              = hidden_field_tag :item_type
              .category-selection
                .category-title
                .category-desc
              .dropdown-menu
                .dropdown-opt{:data => {:type => 'thoughts', :url => thoughts_path}}
                  .category-title thoughts
                  .category-desc comments, questions, announcements and information
                .dropdown-opt{:data => {:type => 'have-it', :url => have_its_path}}
                  .category-title have-its
                  .category-desc offer goods, services, spaces and experiences
                .dropdown-opt{:data => {:type => 'want-it', :url => want_its_path}}
                  .category-title want-its
                  .category-desc request access to goods, services, spaces and experiences
                .dropdown-opt{:data => {:type => 'event', :url => events_path}}
                  .category-title events
                  .category-desc performances, meetings, classes, excursions and more
                .dropdown-opt{:data => {:type => 'collection', :url => collections_path}}
                  .category-title collections
                  .category-desc containers to help you group together similar items
          .field-tags{:data => {:autocomplete => autocomplete_search_tags_path}}
            %input.tag-input{:type => 'text', :id => 'item_tag_list', :name => 'item[tag_list]'}
          .field-images
            .fileupload.thumbnail
              #thumbnail
                attach an image
                =image_tag 'plus_button.png'
              =hidden_field(:item, :thumbnail_id)
              .uploaded-image
                %a.unload-image{:href => '#'}
          .field-links
            %textarea{:name => 'item[link]', :placeholder => 'add a link'}
          .field-geotags{:data => {:autocomplete => autocomplete_search_geo_tags_path}}
            .event-location.hidden
              .flabel event location
              %input{:type => 'text', :name => 'item[location]', :id => 'item_location'}
            %input.tag-input{:type => 'text', :id => 'item_geo_tag_list', :name => 'item[geo_tag_list]'}
          .field-visibility
            %input{:type => 'hidden', :name => 'item[community_ids]', :id => 'item_community_ids', :value => "#{@community.nil? ? '' : @community.id}"}
            %input{:type => 'hidden', :name => 'item[city_ids]', :id => 'item_city_ids', :value => "#{@community.nil? ? current_city.id : ''}"}
            %input{:type => 'hidden', :name => 'item[list_ids]', :id => 'item_list_ids', :value => ''}
            %ul.visibility-tokens
              %li
                - if @community.nil?
                  = current_city.display_name
                  %a{:href => '#', :data => {:vistype => 'city', :visid => current_city.id}}= '&times;'.html_safe
                - else
                  = @community.name
                  %a{:href => '#', :data => {:vistype => 'community', :visid => @community.id}}= '&times;'.html_safe
            %a.add-visibility{:href => '#'}
              add visibility rule
              %i.ad
            .visibility-rule-dropdown
              - add_visibility_rule_options.each do |group,rules|
                .rule-group
                  = group.titleize
                - rules.each do |rule|
                  %a{:href => "#", :class => 'rule-name', :data => {:vistype => rule[:type], :visid => rule[:vis_id]}}= rule[:name]
                - if rules.count == 0
                  .rule-empty You don't have any
          .field-time
            .expiration-field
              %span.flabel expires on
              %input.datepicker{:type => 'text', :name => 'item[expires_on]', :id => 'item_expires_on'}
            .event-time-field.hidden
              .frow
                %span.flabel start date
                %input.datepicker{:type => 'text', :name => 'item[start_date]', :id => 'item_start_date'}
              .frow
                %span.flabel start time
                %input.timepicker{:type => 'text', :name => 'item[start_time]', :id => 'item_start_time'}
              .frow
                %span.flabel end date
                %input.datepicker{:type => 'text', :name => 'item[end_date]', :id => 'item_end_date'}
              .frow
                %span.flabel end time
                %input.timepicker{:type => 'text', :name => 'item[end_time]', :id => 'item_end_time'}
          .icon-row.clearfix
            %a.field-button.item-add-link{:data => {:field => 'field-links'}}
              =image_tag 'link_field.png'
            %a.field-button.item-add-location{:data => {:field => 'field-geotags'}}
              =image_tag 'location_field.png'
            %a.field-button.item-add-image{:data => {:field => 'field-images'}}
              =image_tag 'image_field.png'
            %a.field-button.item-add-tags{:data => {:field => 'field-tags'}}
              =image_tag 'tag_field.png'
            %a.field-button.item-add-time{:data => {:field => 'field-time'}}
              =image_tag 'time_field.png'
            %a.publish-item publish item
            %a.visibility-button{:href => '#'}
              Visible to
              - if @community.nil?
                = current_city.display_name
              - else
                = @community.name
          =javascript_include_tag 'images/dynamic_image_upload'
               
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24444933-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
